
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
header{
    #top_most{
        height: 10.2vh;
        padding-left: 12rem;
        padding-right: 12rem;
        #top_most_row{
            height: 100%;
            #main_logo{
                display: flex;
                align-items: center;
                img{
                    width: 16rem;
                }
            }
            #main_pages{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 0;
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: #3E4141;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.2rem;
                    line-height: 1.688rem;
                }
                a#individuals{
                    
                    font-weight: bold;
                    color: black;
                    margin-right: 1.7rem;
                }
                a#businesses{
                    margin-right: 1.3rem;
                }
                a#locations{
                    img{
                        scale: 1.2;
                        margin-bottom: 3%;
                        margin-right: .5rem;
                    }
                    margin-right: 1.2rem;
                }
                a#eng{
                    margin-right: 0.938rem;
                }
                a#rus{
                    margin-right: 1.4rem;
                }
                a#search{
                    width: 2.3rem;
                    height: 2.3rem;
                    border-radius: 8px;
                    border: 2px solid #EE3F42;
                    padding: 0;
                    img{
                        padding: 2px 2px 2px 4px;
                    }
                }
            }
        }
    }
    #top_second{
        height: 7.804vh;
        background-color: #E8ECF0;
        padding-left: 12rem;
        padding-right: 12rem;
        #top_second_row{
            height: 100%;
            #main_nav{
                display: flex;
                height: 100%;
                list-style-type: none;
                margin-bottom: 0;
                .pages{
                    height: 100%;
                    margin-right: 1.6rem;
                    padding-top: 1.8rem;
                    &:hover{
                        border-bottom: 2px solid #EE3F42;
                    }
                    a{
                        display: inline-block;
                        color: #2E3131;
                        font-size: 1.2rem;
                        text-decoration: none;
                        font-family: 'Source Sans Pro', sans-serif;;
                    }
                }
            }
        }
    }
}
main{
    #slider{
        height: 51.70vh;
        padding-left: 12rem;
        padding-right: 12rem;
        background-color: #E8ECF0;
        margin-top: .2439vh;
        #ads{
            height: 41.951vh;
            #loto{
                height: 100%;
                #loto_description{
                    margin-top: 12.8vh;
                    h2{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: bold;
                        font-size: 2.65rem;
                        margin-bottom: 2.5vh;
                    }
                    button{
                        display: block;
                        font-family: 'Source Sans Pro', sans-serif;
                        width: 45%;
                        height: 6.829vh;
                        border-radius: 8px;
                        background-color: #F0556A;
                        color: white;
                        text-align: center;
                        font-size: 1.5rem;
                        &:hover{
                            background-color: #EE3F42;
                        }
                    }
                }
                
            }
            #car{
                position: relative;
                #car_ad{
                    width: 90%;
                    margin-top: 6%;
                    padding-left: 9%;
                    &:hover{
                        scale: 1.1;
                        transition-duration: .5s;
                    }
                }
                #slider-buttons{
                    display: inline-block;
                    position: absolute;
                    bottom: 7vh;
                    left: 90%;
                    width: 15%;

                    div{
                        display: inline-block;
                        background-color: white;
                        width: 25%;
                        height: 25%;
                        text-align: center;
                        border-radius: 100px;
                        scale: 1.5;
                    }
                    #left{
                        color: #BDC3C7;
                    }
                    #right{
                        margin-left: 30%;
                        color: #BDC3C7;
                    }
                }
                
            }
        }
        #cards{
            border-radius: 8px;
            background-color: #F9FAFB;
            height: 24.878vh;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .kapital-card{
                background-color: white;
                height: 17vh;
                align-self: center;
                border-radius: 8px;
                box-shadow: 4px 4px 26px 0 rgba(0, 0, 0, 0.07);
                &:hover{
                    scale: 1.05;
                    transition-duration: .5s;
                }
                a{
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    color: #2E3131;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1.5rem;
                    img{
                        display: block;
                        margin: auto;
                        margin-top: 14%;
                        scale: 1.3;
                    }
                    div{
                        width: 100%;
                        margin-top: 17%;
                        text-align: center;
                    }
                }
            }
        }
    }
    #birbank-taksit{
        padding-left: 12rem;
        padding-right: 12rem;
        height: 45vh;
        position: relative;
        #casback-taksit{
            position: absolute;
            bottom: 5vh;
            height: 30vh;
            font-family: 'Source Sans Pro', sans-serif;
            #cashback-taksit-info{
                padding-left: 0;
                margin-left: 0;
                h2{
                    font-size: 2.5rem;
                    margin-top: 11vh;
                    span{
                        font-weight: 600;
                    }
                }
                p{
                    font-size: 1.4rem;
                    width: 65%;
                }
            }
            
        }
    }
    #cashback-card-order{
        height: 25vh;
        background-color: #E8ECF0;
        padding-left: 12rem;
        padding-right: 12rem;
        #cashback-details{
            position: relative;
            height: 100%;
            .card-order{
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content:baseline;
                padding-top: 3%;
                h3{
                    font-weight: 600;
                    color: #F45369;
                    font-size: 2rem;
                }
                p{
                    font-size: 1.5rem;
                    margin-bottom: 3vh;
                }
                div{
                    width: 62%;
                    height: 6.829vh;
                    border-radius: 8px;
                    background-color: #F0556A;
                    color: white;
                    text-align: center;
                    padding-top: 3%;
                    font-size: 1.5rem;
                    &:hover{
                        background-color: #EE3F42;
                        cursor: pointer;
                    }
                }
                img{
                    position: absolute;
                    bottom: 0;
                    right: 7vw;
                    margin-bottom: 2%;
                    height: 43vh;
                    padding-left: 0;
                    margin-left: 0;
                }
            }
            #sliding-part{
                position: relative;
                #left-arrow-slide{
                    position: absolute;
                    bottom: 2.5vh;
                    right: 3vw;
                }
                #right-arrow-slide{
                    position: absolute;
                    bottom: 2.5vh;
                    right: 0;
                }
            }
        }
    }
    #birbank-credit{
        padding-left: 12rem;
        padding-right: 12rem;
        height: 25vh;
        position: relative;
        #credit-get{
            position: absolute;
            left: 37vw;
            height: 100%;
            font-family: 'Source Sans Pro', sans-serif;
            #credit-info{
                padding-left: 0;
                margin-left: 0;
                h2{
                    font-size: 2.5rem;
                    margin-top: 3vh;
                    span{
                        font-weight: 600;
                    }
                }
                p{
                    font-size: 1.4rem;
                    margin-top: 2vh;
                    letter-spacing: .7px;
                }
            }
            
        }
    }
    #credit-order{
        height: 28vh;
        background-color: #E8ECF0;
        padding-left: 12rem;
        padding-right: 12rem;
        #credit-details{
            position: relative;
            height: 100%;
        }
        .credit-order-info{
            img{
                position: absolute;
                width: 40%;
                bottom: 3vh;
                right: 55vw;
                padding-left: 0;
            }
        }
        #credit-amount{
            padding-left: 0;
            h3{
                font-weight: 600;
                color: #F45369;
                font-size: 2rem;
                margin-top: 25%;
            }
            p{
                font-size: 1.3rem;
            }
        }
        #credit-period{
            h3{
                font-weight: 600;
                color: #F45369;
                font-size: 2rem;
                margin-top: 39%;
                margin-left: 5vw ;
            }
            p{
                font-size: 1.3rem;
                margin-left: 5vw;
            }
        }
        #credit-interest{
            padding-right: 0;
            padding-left: 0;
            h3{
                font-weight: 600;
                color: #F45369;
                font-size: 2rem;
                margin-top: 25%;
                margin-left: 12vw;
                text-align: end;
            }
            p{
                font-size: 1.3rem;
                margin-left: 12.5vw;
            }
            #order-button{
                width: 100%;
                height: 6.829vh;
                border-radius: 8px;
                background-color: #F0556A;
                color: white;
                text-align: center;
                padding-top: 3%;
                font-size: 2rem;
                &:hover{
                    background-color: #EE3F42;
                    cursor: pointer;
                }
            }
        }

    }
}